<html>
    <head>
        <title>保存你的keystore</title>
        <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/wallet.js"></script>
        <link rel="stylesheet" href="/styles/wallet.css">
    </head>

    <body>
        <div id="nav">
            <%- include ./components/nav.html %>
        </div>

        <div id="main">
            <div id="save-keystore">
                <h1>保存你的keystore</h1>
                <a class="button" href="<%= downloadurl %>">下载keystore文件</a>
                <br><br>
                <button onclick="saveKeystoreNext()">下一步</button>
            </div>
            <div id="save-privatekey" style="display: none">
                <h1>保存你的私钥</h1>
                <div>
                    <%= privatekey %>
                </div>
            </div>
        </div>

    </body>
</html>
