<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="../styles/main.css"> 
    </head>
    <body>
        <%- include header.ejs %>

        Welcome !!!
    </body>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/home.js"></script>
</html>