<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="../styles/main.css"> 
    </head>
    <body>
        <%- include header.ejs %>

        <div style="padding: 30px">
            <h1>Account: <%= account %></h1>
            <h1>Balance: <%= balance %></h1>
        </div>
        
    </body>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/home.js"></script>
</html>